.wrapper

 .chat-side
  .chat-side__side-header
   .chat-side__side-header__box
    .chat-side__side-header__box__user-name
     masa
    %ul.chat-side__side-header__box__menu
     %li.chat-side__side-header__box__menu__new-group
      = link_to "#" do
       = icon('far', 'edit')
     %li.chat-side__side-header__box__menu__edit-user
      = link_to "#" do
       = icon('fas', 'cog')

  .chat-side__groups

 .chat-main
  .chat-main__main-header
  .chat-main__message
  .chat-main__form